      html,body {
        font-family: Arial, sans-serif;
        height: 100%;
        margin: 0;
        padding: 0;
		background-color:#213d48;
		color:white;
      }
	  
	  main  {
		position:relative;
		height:100%;
	  }
	  
	  button {
		background-color:#63767E;
		color:white;
	  }
	  
	  .placesList {
		list-style:none;
		display:inline-block;
		padding-left: 0;
		width: 230px;
		margin-top: 0;
	  }
	  
	  .placesList:last-child {
		border-bottom: 1px solid #798990;
	  }

      #map {
		position:absolute;
		color : black;
        bottom:0px;
        height: 100%;
        right: 150px;
		width:750px;
      }
	  
	  .autocomplete-item {
		border-top: 1px solid #798990;
		border-left: 1px solid #798990;
		border-right: 1px solid #798990;
		font: 10pt arial;
	  }
	  
	  .autocomplete-item:hover {
		background-color:#63767E;
	  }	  