html,
body {
	font-family: Arial, sans-serif;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color:#213d48;
}

body {
	overflow: hidden;
}

.wrapper {
	height: 100%;
}

.menu {
	color: white;
	overflow-y: auto;
}

.street-view-container {
	width: 200px;
	height: 200px;
}

main  {
	position: relative;
	z-index: 1;
	overflow-x: auto; 
}

button {
	background-color:#63767E;
	color:white;
}

nav {
	background-color:#213d48;
	color:white;
	position:absolute;
	width:300px;
	height:100%;
	transform: translate(-300px, 0);
	transition: transform 0.3s ease;	
	z-index: 3;
}

label {
	width: 72px;
	display: inline-block;
}

nav.open {
	transform: translate(0, 0);
}

.placesList {
	list-style:none;
	display:inline-block;
	padding-left: 0;
	width: 230px;
	margin-top: 0;
}

.placesList:last-child {
	border-bottom: 1px solid #798990;
}

.map-part-screen {
	position: absolute;
	left: 301px;
	right: 0;
	bottom: 0;
	z-index: 1;
	height: 100%;
	min-height: 100%;
	width: calc(100% - 300px);
	overflow: auto !important;
}

.map-full-screen {
	left: 0;
	width: 100%;
}

.map-control {
	margin-bottom: 10px;	
}

#map * {
	overflow: visible;
}

.drawer-controls {
	position: absolute;
	top: 0;
	z-index: 100;
	transform: translate(223px, 0);
	transition: transform 0.3s ease;
}

.drawer-controls-hide {
	transform: translate(0, 0);
}

.drawer-controls-image {
	width: 50px;
	height: 50px;
	z-index: 100;
}

.autocomplete-item {
	border-top: 1px solid #798990;
	border-left: 1px solid #798990;
	border-right: 1px solid #798990;
	font: 10pt arial;
}

.autocomplete-item:hover {
	background-color:#63767E;
}

.rotateControl {
	transform: rotate(180deg);
}